JWT_SECRET=Jf/ZpZSxfMWnOexP48Mp1z200jd+8BVZ7ws6Uw5Jp/w=
JWT_ACCESS_EXPIRES=3600
JWT_REFRESH_EXPIRES=86400
JWT_ALG="HS256"
DB_HOST=0.0.0.0
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
REDIS_URI=redis://localhost:6379/0
